@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Welcome to the Ticketing System!</h1>
        <p>You are logged in. Use the navigation menu to access tickets and admin features.</p>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome!</h1>
        <p>You are not logged in. Please <a href="/Account/Login">log in</a> to access the ticketing system.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    // No code needed for Home.razor
}
